.vscode/c_cpp_properties.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/MyProject.sln
build/MyProject.vcxproj
build/MyProject.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.4/CMakeCCompiler.cmake
build/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.4/CMakeSystem.cmake
build/CMakeFiles/3.26.4/VCTargetsPath.txt
build/CMakeFiles/3.26.4/VCTargetsPath.vcxproj
build/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.4/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.26.4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.26.4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.26.4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.26.4/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.26.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/47f9c3f5618524c2d01a277ae11f253a/generate.stamp.rule
build/Debug/MyProject.exe
build/Debug/MyProject.pdb
build/MyProject.dir/Debug/glad.obj
build/MyProject.dir/Debug/main.obj
build/MyProject.dir/Debug/MyProject.exe.recipe
build/MyProject.dir/Debug/MyProject.ilk
build/MyProject.dir/Debug/vc143.pdb
build/MyProject.dir/Debug/MyProject.tlog/CL.command.1.tlog
build/MyProject.dir/Debug/MyProject.tlog/Cl.items.tlog
build/MyProject.dir/Debug/MyProject.tlog/CL.read.1.tlog
build/MyProject.dir/Debug/MyProject.tlog/CL.write.1.tlog
build/MyProject.dir/Debug/MyProject.tlog/CustomBuild.command.1.tlog
build/MyProject.dir/Debug/MyProject.tlog/CustomBuild.read.1.tlog
build/MyProject.dir/Debug/MyProject.tlog/CustomBuild.write.1.tlog
build/MyProject.dir/Debug/MyProject.tlog/link.command.1.tlog
build/MyProject.dir/Debug/MyProject.tlog/link.read.1.tlog
build/MyProject.dir/Debug/MyProject.tlog/link.write.1.tlog
build/MyProject.dir/Debug/MyProject.tlog/MyProject.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
